<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knead To Know Restaurants</title>
<link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"></head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Knead to Know Restaurants</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      All the Restaurants You Knead to Know About!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>